In [0]:
import pandas as pd

In [0]:
df= pd.DataFrame()

In [5]:
df

Empty DataFrame
Columns: []
Index: []

In [6]:
print('Hello Sai')

Hello Sai

In [9]:
print(pd.__version__)

0.25.3